.blog-container {
  width: 1170px;
  margin: 0 auto;
  /* padding-left: 36px; */
  font-family: var(--font-family);
}

.blog-container h2 {
  font-size: 40px;
}

.blog-grid-container {
  width: 100%;
  display: grid;
  justify-content: space-evenly;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 60px;

  /* width: 417.03px; */
}

.blog-details {
  color: white;
  width: 100%;
  /* height: 62.5%; */
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.blog-details p {
  color: white;
  font-size: 10px;
}

.box1 {
  grid-row: 1/3;
}

.grid-box img {
  width: 100%;
}

.grid-box {
  background-color: var(--color-blog);
  border-top-left-radius: 11%;
}

.grid-box h3 {
  font-size: 22px;
}

.bottom-text {
  position: absolute;
  bottom: -267px;
}
